# DATA 1

### Importação das Bibliotecas

Run ALL Cels: Quando você executa o comando "Run All Cells" no JupyterLab (ou no Jupyter Notebook), as células não são executadas simultaneamente. Elas são executadas em sequência, de cima para baixo.

Sim, o Pandas é inteligente o suficiente para reconhecer e concatenar colunas com o mesmo nome, mesmo que elas estejam em ordens diferentes nos DataFrames que você está tentando juntar.

Se um dos DataFrames que você está concatenando possui colunas que não existem no outro, o Pandas irá preencher os valores correspondentes nessas colunas com NaN (Not a Number) para as linhas do DataFrame que não continha essas colunas.

In [1]:
import pandas as pd
import plotly.express as px

C:\Users\Anizio\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Inicio: Aprender a ter acesso a cada aba do excel com o código abaixo. 
- If your Excel file has multiple sheets, you might need to specify the sheet name
- Sempre subtraia o número de linhas puladas pelo o total de linhas do dataset

# Messejana [MES] - PREPROCESSING 1

In [2]:
data1 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='MES', skiprows=1, nrows=98)

In [3]:
dataMES= data1.copy()

In [4]:
dataMES.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,NaN,NaN,QUADRA,BEACH TENNIS - INICIANTE,"seg, qua, sex",05:30:00,05:30,MANHÃ,BEACH TENNIS - INICIANTE - 05:30,...,0,0,x,3,x,13.0,0.923077,NaN,NaN,NaN
1,NaN,NaN,NaN,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30:00,05:30,MANHÃ,BEACH TENNIS - INTERMEDIÁRIO - 05:30,...,x,x,5,x,6,11.0,4.636364,NaN,NaN,NaN
2,NaN,NaN,NaN,ADULTO,GREEN BIKE,"seg, qua,sex",06:00:00,06:00,MANHÃ,GREEN BIKE - 06:00,...,10,7,x,10,x,11.0,7.454545,NaN,NaN,0.0
3,NaN,NaN,NaN,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,CROSSFIT - 06:00,...,x,1,3,3,4,21.0,1.904762,NaN,NaN,0.0
4,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO COM PERSONAL - 06:00,...,8,8,2,10,8,23.0,6.608696,NaN,NaN,NaN

### 1 PASSO: Removendo colunas desnecessárias

In [5]:
del dataMES['Unnamed: 0']
del dataMES['Unnamed: 1']
del dataMES['Unnamed: 2']

In [6]:
del dataMES['HORÁRIO']
del dataMES['AUX 2']
del dataMES['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA AUX1 COMO HORÁRIO

In [7]:
dataMES.rename(columns={'AUX 1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [8]:
for i in dataMES.columns:
    print(i)

CATEGORIA
MODALIDADE
DIA DA SEMANA
AUX.1
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [9]:
dataMES.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [10]:
dataMES.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [11]:
colunas = ['2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',]

Usando o loop for para mudar remover os zeros das colunas e alterar o nome para o dia, mês e ano

In [12]:
novas_colunas = []

In [13]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas.append(novo_nome)

colunas renomeadas com sucesso!

In [14]:
novas_colunas

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [15]:
dataMES.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [16]:
colunas = ['01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [17]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce').fillna(0).astype(int)

In [18]:
dataMES.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '01-10-2024', '02-10-2024', '03-10-2024', '04-10-2024',
       '07-10-2024', '08-10-2024', '09-10-2024', '10-10-2024', '11-10-2024',
       '14-10-2024', '15-10-2024', '16-10-2024', '17-10-2024', '18-10-2024',
       '21-10-2024', '22-10-2024', '23-10-2024', '24-10-2024', '25-10-2024',
       '28-10-2024', '29-10-2024', '30-10-2024', '31-10-2024',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

#### Selecionando colunas para o MELT

In [19]:
colunas_para_melt = [
    '01-10-2024',
    '02-10-2024',
    '03-10-2024',
    '04-10-2024',
    '07-10-2024',
    '08-10-2024',
    '09-10-2024',
    '10-10-2024',
    '11-10-2024',
    '14-10-2024',
    '15-10-2024',
    '16-10-2024',
    '17-10-2024',
    '18-10-2024',
    '21-10-2024',
    '22-10-2024',
    '23-10-2024',
    '24-10-2024',
    '25-10-2024',
    '28-10-2024',
    '29-10-2024',
    '30-10-2024',
    '31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [20]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMES.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [21]:
dataMES_melted = pd.melt(dataMES,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [22]:
dataMES_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,QUADRA,BEACH TENNIS - INICIANTE,"seg, qua, sex",05:30,MANHÃ,KELY,13.0,0.923077,NaN,NaN,NaN,01-10-2024,0
1,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30,MANHÃ,KELY,11.0,4.636364,NaN,NaN,NaN,01-10-2024,4
2,ADULTO,GREEN BIKE,"seg, qua,sex",06:00,MANHÃ,LINDY,11.0,7.454545,NaN,NaN,0.0,01-10-2024,0

In [23]:
dataMES_melted['Frequencia de Alunos'].sum()

26782

___

___

# Aldeota [ALD] - PREPROCESSING 2

In [24]:
data2 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='ALD', skiprows=1, nrows=204)

In [25]:
dataALD= data2.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [26]:
dataALD.head(3)

,,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,AUX 1,AUX 2,PROFESSOR,AUX 3,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,ADULTO,BEACH GYM,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,BEACH GYM - 06:00,ISABELLE VERMONTT,BEACH GYM - ISABELLE VERMONTT,...,0,0,2,0,2,17,1.470588,NaN,NaN,NaN
1,NaN,ADULTO,GREEN BIKE,"seg, qua, sex",06:00:00,06:00,MANHÃ,GREEN BIKE - 06:00,GIL,GREEN BIKE - GIL,...,12,10,x,10,x,11,14.181818,NaN,NaN,0.0
2,NaN,QUADRA,BEACH TENIS,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,BEACH TENIS - 06:00,LUCAS,BEACH TENIS - LUCAS,...,4,2,8,3,8,20,5.400000,NaN,NaN,0.0

In [27]:
del dataALD[' ']
del dataALD['HORÁRIO']
del dataALD['AUX 2']
del dataALD['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA TURNO COMO HORARIO, DEPOIS
- PRECISAMOS RENOMEAR A COLUNA AUX1 COMO TURNO

In [28]:

dataALD.rename(columns={'TURNO': 'HORÁRIO',
                    'AUX 1': 'TURNO'}, inplace=True)

In [29]:
dataALD.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,ADULTO,BEACH GYM,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISABELLE VERMONTT,s/p,0,4,1,...,0,0,2,0,2,17,1.470588,NaN,NaN,NaN
1,ADULTO,GREEN BIKE,"seg, qua, sex",06:00,MANHÃ,GIL,x,14,x,20,...,12,10,x,10,x,11,14.181818,NaN,NaN,0.0
2,QUADRA,BEACH TENIS,"seg, ter, qua, qui, sex",06:00,MANHÃ,LUCAS,6,6,8,5,...,4,2,8,3,8,20,5.400000,NaN,NaN,0.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [30]:
for columns in dataALD.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [31]:
dataALD.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [32]:
dataALD.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [33]:
colunas = ['2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00'
]

In [34]:
novas_colunas_ALD = []

In [35]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_ALD.append(novo_nome)

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [36]:
for columns in dataALD.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [37]:
dataALD.columns= [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [38]:
# Novas colunas
novas_colunas_ALD

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [39]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [40]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataALD[columns] = pd.to_numeric(dataALD[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [41]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [42]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataALD.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [43]:
dataALD_melted = pd.melt(dataALD,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [44]:
dataALD_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,ADULTO,BEACH GYM,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISABELLE VERMONTT,17,1.470588,NaN,NaN,NaN,01-10-2024,0
1,ADULTO,GREEN BIKE,"seg, qua, sex",06:00,MANHÃ,GIL,11,14.181818,NaN,NaN,0.0,01-10-2024,0
2,QUADRA,BEACH TENIS,"seg, ter, qua, qui, sex",06:00,MANHÃ,LUCAS,20,5.400000,NaN,NaN,0.0,01-10-2024,6

In [45]:
dataALD_melted['Frequencia de Alunos'].sum()

40971

____

____

# Fatima [FAT] - PREPROCESSING 3

In [46]:
data3 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='FAT', skiprows=1, nrows=88)

In [47]:
dataFAT = data3.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [48]:
dataFAT.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO COM PERSONAL - 06:00,...,36,30,36,47,37,23,35.913043,NaN,NaN,0.0
1,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO SEM PERSONAL - 06:00,...,50,44,71,40,44,23,44.565217,11.5,NaN,2.0
2,NaN,NaN,NaN,ADULTO,CROSSFIT,"seg, qua, sex",06:00:00,06:00,MANHÃ,CROSSFIT - 06:00,...,7,6,x,4,x,13,7.153846,NaN,NaN,0.0

In [49]:
del dataFAT['Unnamed: 0']
del dataFAT['Unnamed: 1']
del dataFAT['Unnamed: 2']

In [50]:
del dataFAT['HORÁRIO']
del dataFAT['AUX 2']
del dataFAT['AUX 3']

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [51]:
dataFAT.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [52]:
dataFAT.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,LEONARDO JOSE,24,39,38,40,...,36,30,36,47,37,23,35.913043,NaN,NaN,0.0
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,LEONARDO JOSE,38,41,48,32,...,50,44,71,40,44,23,44.565217,11.5,NaN,2.0
2,ADULTO,CROSSFIT,"seg, qua, sex",06:00,MANHÃ,EVELINE CASTRO,x,10,x,7,...,7,6,x,4,x,13,7.153846,NaN,NaN,0.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [53]:
for columns in dataFAT.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [54]:
dataFAT.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [55]:
dataFAT.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Aulas/mês', 'Média', 'Alunos/professor', 'Ocupação Máxima',
       'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [56]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [57]:
novas_colunas_FAT = []

In [58]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_FAT.append(novo_nome)

In [59]:
novas_colunas_FAT

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [60]:
for columns in dataFAT.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [61]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [62]:
dataFAT.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima0',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [63]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [64]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataFAT[columns] = pd.to_numeric(dataFAT[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [65]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [66]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataFAT.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [67]:
dataFAT_melted = pd.melt(dataFAT,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [68]:
dataFAT_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Aulas/mês,Média,Alunos/professor,Ocupação Máxima0,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,LEONARDO JOSE,23,35.913043,NaN,NaN,0.0,01-10-2024,24
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,LEONARDO JOSE,23,44.565217,11.5,NaN,2.0,01-10-2024,38
2,ADULTO,CROSSFIT,"seg, qua, sex",06:00,MANHÃ,EVELINE CASTRO,13,7.153846,NaN,NaN,0.0,01-10-2024,0

In [69]:
dataFAT_melted['Frequencia de Alunos'].sum()

26660

____

____

# BOOTCAMP [BOOT] - PREPROCESSING 4

In [70]:
data4 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='BOOTCAMP', skiprows=1, nrows=41)

In [71]:
dataBOOT = data4.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [72]:
dataBOOT.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX1,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,...,2024-10-24 00:00:00,2024-10-25 00:00:00,2024-10-26 00:00:00,2024-10-27 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,MÉDIA,Unnamed: 39
0,NaN,NaN,NaN,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",05:30:00,05:30,4,3,4,...,0,2,x,x,NaN,4,4,NaN,2.333333,NaN
1,NaN,NaN,NaN,BOOTCAMP,"seg, ter, qua, sex",05:30:00,05:30,2,0,0,...,8,1,x,x,NaN,2,3,NaN,2.666667,NaN
2,NaN,NaN,NaN,HIGH FORCE,qui,05:30:00,05:30,x,x,4,...,0,x,x,x,x,x,x,NaN,0.000000,NaN

In [73]:
dataBOOT.iloc[0]

Unnamed: 0                                 NaN
Unnamed: 1                                 NaN
Unnamed: 2                                 NaN
MODALIDADE                      A - MUSCULAÇÃO
DIA DA SEMANA          seg, ter, qua, qui, sex
HORÁRIO                               05:30:00
AUX1                                     05:30
2024-10-01 00:00:00                          4
2024-10-02 00:00:00                          3
2024-10-03 00:00:00                          4
2024-10-04 00:00:00                          3
2024-10-05 00:00:00                          x
2024-10-06 00:00:00                          x
2024-10-07 00:00:00                          3
2024-10-08 00:00:00                          3
2024-10-09 00:00:00                          3
2024-10-10 00:00:00                          2
2024-10-11 00:00:00                          1
2024-10-12 00:00:00                          x
2024-10-13 00:00:00                          x
2024-10-14 00:00:00                          1
2024-10-15 00:00:00                          3
2024-10-16 00:00:00                          2
2024-10-17 00:00:00                          1
2024-10-18 00:00:00                          1
2024-10-19 00:00:00                          x
2024-10-20 00:00:00                          x
2024-10-21 00:00:00                          4
2024-10-22 00:00:00                          3
2024-10-23 00:00:00                          3
2024-10-24 00:00:00                          0
2024-10-25 00:00:00                          2
2024-10-26 00:00:00                          x
2024-10-27 00:00:00                          x
2024-10-28 00:00:00                        NaN
2024-10-29 00:00:00                          4
2024-10-30 00:00:00                          4
2024-10-31 00:00:00                        NaN
MÉDIA                                 2.333333
Unnamed: 39                                NaN
Name: 0, dtype: object

In [74]:
dataBOOT.iloc[-1]

Unnamed: 0                                  NaN
Unnamed: 1                                  NaN
Unnamed: 2                                  NaN
MODALIDADE                             BOOTCAMP
DIA DA SEMANA          seg, ter, qua, qui, sex,
HORÁRIO                                20:30:00
AUX1                                      20:30
2024-10-01 00:00:00                           0
2024-10-02 00:00:00                           0
2024-10-03 00:00:00                           1
2024-10-04 00:00:00                           0
2024-10-05 00:00:00                           x
2024-10-06 00:00:00                           x
2024-10-07 00:00:00                           2
2024-10-08 00:00:00                           0
2024-10-09 00:00:00                           1
2024-10-10 00:00:00                           0
2024-10-11 00:00:00                           1
2024-10-12 00:00:00                           x
2024-10-13 00:00:00                           x
2024-10-14 00:00:00                           3
2024-10-15 00:00:00                         NaN
2024-10-16 00:00:00                           2
2024-10-17 00:00:00                           0
2024-10-18 00:00:00                         NaN
2024-10-19 00:00:00                           x
2024-10-20 00:00:00                           x
2024-10-21 00:00:00                           2
2024-10-22 00:00:00                           0
2024-10-23 00:00:00                           1
2024-10-24 00:00:00                         NaN
2024-10-25 00:00:00                           0
2024-10-26 00:00:00                           x
2024-10-27 00:00:00                           x
2024-10-28 00:00:00                           1
2024-10-29 00:00:00                           0
2024-10-30 00:00:00                           0
2024-10-31 00:00:00                         NaN
MÉDIA                                       0.9
Unnamed: 39                                 NaN
Name: 38, dtype: object

In [75]:
dataBOOT.columns

Index([       'Unnamed: 0',        'Unnamed: 1',        'Unnamed: 2',
              'MODALIDADE',     'DIA DA SEMANA',           'HORÁRIO',
                    'AUX1', 2024-10-01 00:00:00, 2024-10-02 00:00:00,
       2024-10-03 00:00:00, 2024-10-04 00:00:00, 2024-10-05 00:00:00,
       2024-10-06 00:00:00, 2024-10-07 00:00:00, 2024-10-08 00:00:00,
       2024-10-09 00:00:00, 2024-10-10 00:00:00, 2024-10-11 00:00:00,
       2024-10-12 00:00:00, 2024-10-13 00:00:00, 2024-10-14 00:00:00,
       2024-10-15 00:00:00, 2024-10-16 00:00:00, 2024-10-17 00:00:00,
       2024-10-18 00:00:00, 2024-10-19 00:00:00, 2024-10-20 00:00:00,
       2024-10-21 00:00:00, 2024-10-22 00:00:00, 2024-10-23 00:00:00,
       2024-10-24 00:00:00, 2024-10-25 00:00:00, 2024-10-26 00:00:00,
       2024-10-27 00:00:00, 2024-10-28 00:00:00, 2024-10-29 00:00:00,
       2024-10-30 00:00:00, 2024-10-31 00:00:00,             'MÉDIA',
             'Unnamed: 39'],
      dtype='object')

In [76]:
del dataBOOT['Unnamed: 0']
del dataBOOT['Unnamed: 1']
del dataBOOT['Unnamed: 2']
del dataBOOT['Unnamed: 39']

In [77]:
del dataBOOT['HORÁRIO']

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [78]:
dataBOOT.rename(columns={'AUX1': 'HORÁRIO'}, inplace=True)
# Ajeitando o nome da média
dataBOOT.rename(columns={'MÉDIA': 'Média'}, inplace=True)

In [79]:
dataBOOT.head(3)

,MODALIDADE,DIA DA SEMANA,HORÁRIO,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,2024-10-05 00:00:00,2024-10-06 00:00:00,2024-10-07 00:00:00,...,2024-10-23 00:00:00,2024-10-24 00:00:00,2024-10-25 00:00:00,2024-10-26 00:00:00,2024-10-27 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média
0,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",05:30,4,3,4,3,x,x,3,...,3,0,2,x,x,NaN,4,4,NaN,2.333333
1,BOOTCAMP,"seg, ter, qua, sex",05:30,2,0,0,0,x,x,5,...,3,8,1,x,x,NaN,2,3,NaN,2.666667
2,HIGH FORCE,qui,05:30,x,x,4,x,x,x,x,...,x,0,x,x,x,x,x,x,NaN,0.000000

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [80]:
for columns in dataBOOT.columns:
    print(columns)

MODALIDADE
DIA DA SEMANA
HORÁRIO
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-05 00:00:00
2024-10-06 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-12 00:00:00
2024-10-13 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-26 00:00:00
2024-10-27 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média

In [81]:
dataBOOT.columns = [
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-05 00:00:00',
'2024-10-06 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-12 00:00:00',
'2024-10-13 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-19 00:00:00',
'2024-10-20 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-26 00:00:00',
'2024-10-27 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média'
]

In [82]:
dataBOOT.columns

Index(['MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', '2024-10-01 00:00:00',
       '2024-10-02 00:00:00', '2024-10-03 00:00:00', '2024-10-04 00:00:00',
       '2024-10-05 00:00:00', '2024-10-06 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-12 00:00:00', '2024-10-13 00:00:00',
       '2024-10-14 00:00:00', '2024-10-15 00:00:00', '2024-10-16 00:00:00',
       '2024-10-17 00:00:00', '2024-10-18 00:00:00', '2024-10-19 00:00:00',
       '2024-10-20 00:00:00', '2024-10-21 00:00:00', '2024-10-22 00:00:00',
       '2024-10-23 00:00:00', '2024-10-24 00:00:00', '2024-10-25 00:00:00',
       '2024-10-26 00:00:00', '2024-10-27 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [83]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-05 00:00:00',
'2024-10-06 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-12 00:00:00',
'2024-10-13 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-19 00:00:00',
'2024-10-20 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-26 00:00:00',
'2024-10-27 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [84]:
novas_colunas_BOOT = []

In [85]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_BOOT.append(novo_nome)

In [86]:
novas_colunas_BOOT

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '05-10-2024',
 '06-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '12-10-2024',
 '13-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '19-10-2024',
 '20-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '26-10-2024',
 '27-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [87]:
for columns in dataBOOT.columns:
    print (columns)

MODALIDADE
DIA DA SEMANA
HORÁRIO
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-05 00:00:00
2024-10-06 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-12 00:00:00
2024-10-13 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-19 00:00:00
2024-10-20 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-26 00:00:00
2024-10-27 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média

In [88]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [89]:
dataBOOT.columns = [
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [90]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [91]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataBOOT[columns] = pd.to_numeric(dataBOOT[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [92]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'05-10-2024',
'06-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'12-10-2024',
'13-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'19-10-2024',
'20-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'26-10-2024',
'27-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [93]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataBOOT.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [94]:
dataBOOT_melted = pd.melt(dataBOOT,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [95]:
dataBOOT_melted.head(3)

,MODALIDADE,DIA DA SEMANA,HORÁRIO,Média,Dias de Aulas,Frequencia de Alunos
0,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",05:30,2.333333,01-10-2024,4
1,BOOTCAMP,"seg, ter, qua, sex",05:30,2.666667,01-10-2024,2
2,HIGH FORCE,qui,05:30,0.000000,01-10-2024,0

In [96]:
dataBOOT_melted['Frequencia de Alunos'].sum()

1310

### Adicionando colunas Faltantes

Adicionando uma colunas condicional para o TURNO no BOOTCAMPE

In [97]:
# Aplica a lógica condicional para criar a coluna 'TURNO' usando .loc e comparação de strings
dataBOOT_melted.loc[dataBOOT_melted['HORÁRIO'] <= '12:30', 'TURNO'] = 'MANHÃ'
dataBOOT_melted.loc[dataBOOT_melted['HORÁRIO'] > '12:30', 'TURNO'] = 'NOITE'

In [98]:
# Adicionando a coluna de PROFESSOR
dataBOOT_melted['PROFESSOR'] = 'SEM NOME'

In [99]:
dataBOOT_melted.head(2)

,MODALIDADE,DIA DA SEMANA,HORÁRIO,Média,Dias de Aulas,Frequencia de Alunos,TURNO,PROFESSOR
0,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",05:30,2.333333,01-10-2024,4,MANHÃ,SEM NOME
1,BOOTCAMP,"seg, ter, qua, sex",05:30,2.666667,01-10-2024,2,MANHÃ,SEM NOME

____

____

# CAMBEBA [CAMB] - PREPROCESSING 5

In [100]:
data5 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='CAMB', skiprows=1, nrows=88)

In [101]:
dataCAMB = data5.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [102]:
dataCAMB.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,Ocupação Máxima,Professor,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
82,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 21:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:30:00,22:30,NOITE,A - MUSCULAÇÃO COM PERSONAL - 22:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# verificando a series de index pra saber a ultima linha
dataCAMB.iloc[-2]

Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
CATEGORIA                                             MUSC - C/P
MODALIDADE                           A - MUSCULAÇÃO COM PERSONAL
DIA DA SEMANA                            seg, ter, qua, qui, sex
HORÁRIO                                                 22:00:00
AUX.1                                                      22:00
TURNO                                                      NOITE
AUX 2                        A - MUSCULAÇÃO COM PERSONAL - 22:00
PROFESSOR                                                  ADLEY
AUX 3                        A - MUSCULAÇÃO COM PERSONAL - ADLEY
2024-10-01 00:00:00                                            2
2024-10-02 00:00:00                                            0
2024-10-03 00:00:00                                            0
2024-10-04 00:00:00                                            0
2024-10-07 00:00:00                                            0
2024-10-08 00:00:00                                            2
2024-10-09 00:00:00                                            0
2024-10-10 00:00:00                                            0
2024-10-11 00:00:00                                            0
2024-10-14 00:00:00                                            0
2024-10-15 00:00:00                                            0
2024-10-16 00:00:00                                            2
2024-10-17 00:00:00                                            0
2024-10-18 00:00:00                                            0
2024-10-21 00:00:00                                            0
2024-10-22 00:00:00                                            2
2024-10-23 00:00:00                                            2
2024-10-24 00:00:00                                            0
2024-10-25 00:00:00                                            3
2024-10-28 00:00:00                                            3
2024-10-29 00:00:00                                            0
2024-10-30 00:00:00                                            3
2024-10-31 00:00:00                                          NaN
Média alunos p/ professor                                     22
Média                                                   0.863636
Alunos/professor                                             NaN
Ocupação Máxima                                              NaN
Professor                                                    NaN
Unnamed: 40                                                  NaN
Unnamed: 41                                                  NaN
Unnamed: 42                                                  NaN
Unnamed: 43                                                  NaN
Unnamed: 44                                                  NaN
Unnamed: 45                                                  NaN
Unnamed: 46                                                  NaN
Unnamed: 47                                                  NaN
Name: 85, dtype: object

In [104]:
# selecionando colunas para o drop
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3',
           'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47']

In [105]:
dataCAMB.drop(columns= dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [106]:
dataCAMB.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [107]:
dataCAMB

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,QUADRA,BEACH TENNIS,"seg, ter, qua, qui, sex",05:30,MANHÃ,WASHINGTON,3,4,3,5,...,5,5,3,3,NaN,22,4.000000,NaN,NaN,0.0
1,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,TAYNAN,20,35,29,15,...,28,33,37,33,NaN,22,27.181818,NaN,NaN,NaN
2,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,TAYNAN,76,60,63,48,...,45,64,71,65,NaN,22,58.909091,NaN,NaN,NaN
3,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,SAULLO,11,13,12,11,...,9,7,8,NaN,NaN,21,10.619048,NaN,NaN,NaN
4,ADULTO,GREENZONE,"seg, ter, qua, qui, sex",06:00,MANHÃ,RARISSON,6,7,2,4,...,4,3,5,3,NaN,22,5.363636,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",21:00,NOITE,ADLEY,14,8,4,0,...,3,6,2,8,NaN,22,4.909091,NaN,NaN,NaN
83,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",21:00,NOITE,ADLEY,62,52,36,46,...,17,51,58,46,NaN,22,49.136364,NaN,NaN,NaN
84,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00,NOITE,ADLEY,26,28,13,13,...,8,22,16,10,NaN,22,19.363636,NaN,NaN,NaN
85,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:00,NOITE,ADLEY,2,0,0,0,...,3,3,0,3,NaN,22,0.863636,NaN,NaN,NaN
86,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:30,NOITE,ADLEY,0,0,0,0,...,0,0,0,0,NaN,22,0.000000,NaN,NaN,NaN

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [108]:
for columns in dataCAMB.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [109]:
dataCAMB.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [110]:
dataCAMB.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [111]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [112]:
novas_colunas_CAMB = []

In [113]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_CAMB.append(novo_nome)

In [114]:
novas_colunas_CAMB

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [115]:
for columns in dataCAMB.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [116]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [117]:
dataCAMB.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',    
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [118]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',    
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [119]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataCAMB[columns] = pd.to_numeric(dataCAMB[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [120]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [121]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataCAMB.columns if columns not in colunas_para_melt]

#### Realiza o melt apenas nas colunas de datas

In [122]:
dataCAMB_melted = pd.melt(dataCAMB,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [123]:
dataCAMB_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,QUADRA,BEACH TENNIS,"seg, ter, qua, qui, sex",05:30,MANHÃ,WASHINGTON,22,4.000000,NaN,NaN,0.0,01-10-2024,3
1,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,TAYNAN,22,27.181818,NaN,NaN,NaN,01-10-2024,20
2,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,TAYNAN,22,58.909091,NaN,NaN,NaN,01-10-2024,76

In [124]:
dataCAMB_melted['Frequencia de Alunos'].sum()

33220

____

_____

# EUSEBIO [EUS] - PREPROCESSING 6

In [125]:
data6 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='EUS', skiprows=1, nrows=100)

In [126]:
dataEUS = data6.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [127]:
dataEUS.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
95,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 21:00,...,7,6,8,NaN,NaN,21,7.380952,NaN,NaN,0.0
96,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 21:00,...,25,29,35,NaN,NaN,21,30.095238,10.5,NaN,2.0
97,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,6,11,12,NaN,NaN,21,9.619048,21.0,NaN,1.0

In [128]:
dataEUS.iloc[97]

Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
CATEGORIA                                             MUSC - S/P
MODALIDADE                           A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                            seg, ter, qua, qui, sex
HORÁRIO                                                 22:00:00
AUX.1                                                      22:00
TURNO                                                      NOITE
AUX 2                        A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                   JUAN
AUX 3                         A - MUSCULAÇÃO SEM PERSONAL - JUAN
2024-10-01 00:00:00                                           15
2024-10-02 00:00:00                                           10
2024-10-03 00:00:00                                           19
2024-10-04 00:00:00                                           12
2024-10-07 00:00:00                                            8
2024-10-08 00:00:00                                            7
2024-10-09 00:00:00                                           10
2024-10-10 00:00:00                                            7
2024-10-11 00:00:00                                            9
2024-10-14 00:00:00                                           12
2024-10-15 00:00:00                                            8
2024-10-16 00:00:00                                           11
2024-10-17 00:00:00                                            7
2024-10-18 00:00:00                                            6
2024-10-21 00:00:00                                            6
2024-10-22 00:00:00                                            8
2024-10-23 00:00:00                                           11
2024-10-24 00:00:00                                            7
2024-10-25 00:00:00                                            6
2024-10-28 00:00:00                                           11
2024-10-29 00:00:00                                           12
2024-10-30 00:00:00                                          NaN
2024-10-31 00:00:00                                          NaN
Média alunos p/ professor                                     21
Média                                                   9.619048
Alunos/professor                                            21.0
Ocupação Máxima                                              NaN
Professor                                                    1.0
Name: 97, dtype: object

In [129]:
dataEUS.columns

Index([               'Unnamed: 0',                'Unnamed: 1',
                      'Unnamed: 2',                 'CATEGORIA',
                      'MODALIDADE',             'DIA DA SEMANA',
                         'HORÁRIO',                     'AUX.1',
                           'TURNO',                     'AUX 2',
                       'PROFESSOR',                     'AUX 3',
               2024-10-01 00:00:00,         2024-10-02 00:00:00,
               2024-10-03 00:00:00,         2024-10-04 00:00:00,
               2024-10-07 00:00:00,         2024-10-08 00:00:00,
               2024-10-09 00:00:00,         2024-10-10 00:00:00,
               2024-10-11 00:00:00,         2024-10-14 00:00:00,
               2024-10-15 00:00:00,         2024-10-16 00:00:00,
               2024-10-17 00:00:00,         2024-10-18 00:00:00,
               2024-10-21 00:00:00,         2024-10-22 00:00:00,
               2024-10-23 00:00:00,         2024-10-24 00:00:00,
               2024-10-25 00:00:00,         2024-10-28 00:00:00,
               2024-10-29 00:00:00,         2024-10-30 00:00:00,
               2024-10-31 00:00:00, 'Média alunos p/ professor',
                           'Média',          'Alunos/professor',
                 'Ocupação Máxima',                 'Professor'],
      dtype='object')

In [130]:
dataEUS[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3']].head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,HORÁRIO,AUX 2,AUX 3
0,NaN,NaN,NaN,06:00:00,A - MUSCULAÇÃO COM PERSONAL - 06:00,A - MUSCULAÇÃO COM PERSONAL - ISAQUIEL
1,NaN,NaN,NaN,06:00:00,A - MUSCULAÇÃO SEM PERSONAL - 06:00,A - MUSCULAÇÃO SEM PERSONAL - ISAQUIEL
2,NaN,NaN,NaN,06:00:00,CROSSFIT - 06:00,CROSSFIT - BRUNO

In [131]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3']

In [132]:
dataEUS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [133]:
dataEUS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [134]:
dataEUS.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISAQUIEL,47,58,52,50,...,52,44,37,NaN,16,22,41.727273,NaN,NaN,0.0
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISAQUIEL,40,66,39,42,...,50,40,42,NaN,24,22,37.636364,7.333333,NaN,3.0
2,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,BRUNO,10,12,11,8,...,11,10,9,NaN,NaN,21,10.285714,NaN,NaN,0.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [135]:
for columns in dataEUS.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [136]:
dataEUS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [137]:
dataEUS.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [138]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [139]:
novas_colunas_EUS = []

In [140]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_EUS.append(novo_nome)

In [141]:
novas_colunas_EUS

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [142]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [143]:
for columns in dataEUS.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [144]:
dataEUS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

Escolhendo apenas as colunas de datas

In [145]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',   
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [146]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataEUS[columns] = pd.to_numeric(dataEUS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [147]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [148]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataEUS.columns if columns not in colunas_para_melt]

In [149]:
dataEUS_melted = pd.melt(dataEUS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [150]:
dataEUS_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISAQUIEL,22,41.727273,NaN,NaN,0.0,01-10-2024,47
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,ISAQUIEL,22,37.636364,7.333333,NaN,3.0,01-10-2024,40
2,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,BRUNO,21,10.285714,NaN,NaN,0.0,01-10-2024,10

In [151]:
dataEUS_melted['Frequencia de Alunos'].sum()

25089

____


_____

# GUARARÁPES [GUA] - PREPROCESSING 7

In [152]:
data7 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='GUA', skiprows=1, nrows=165)

In [153]:
dataGUA = data7.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [154]:
dataGUA.tail(3)

,,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
161,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 21:00,...,0,0,6,NaN,NaN,21,2.190476,NaN,NaN,0.0
162,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 21:00,...,20,25,17,NaN,NaN,21,19.619048,10.500000,NaN,2.0
163,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,3,23,13,NaN,NaN,21,9.428571,4.714286,NaN,2.0

In [155]:
dataGUA.iloc[-1]

                                                               NaN
Unnamed: 1                                                     NaN
Unnamed: 2                                                     NaN
CATEGORIA                                               MUSC - S/P
MODALIDADE                             A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                              seg, ter, qua, qui, sex
HORÁRIO                                                   22:00:00
AUX.1                                                        22:00
TURNO                                                        NOITE
AUX 2                          A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  GILJOAN
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - GILJOAN
2024-10-01 00:00:00                                              8
2024-10-02 00:00:00                                             11
2024-10-03 00:00:00                                             14
2024-10-04 00:00:00                                              4
2024-10-07 00:00:00                                             14
2024-10-08 00:00:00                                              7
2024-10-09 00:00:00                                              6
2024-10-10 00:00:00                                              7
2024-10-11 00:00:00                                              7
2024-10-14 00:00:00                                             12
2024-10-15 00:00:00                                             13
2024-10-16 00:00:00                                              6
2024-10-17 00:00:00                                             10
2024-10-18 00:00:00                                              8
2024-10-21 00:00:00                                             10
2024-10-22 00:00:00                                             12
2024-10-23 00:00:00                                              3
2024-10-24 00:00:00                                              7
2024-10-25 00:00:00                                              3
2024-10-28 00:00:00                                             23
2024-10-29 00:00:00                                             13
2024-10-30 00:00:00                                            NaN
2024-10-31 00:00:00                                            NaN
Média alunos p/ professor                                       21
Média                                                     9.428571
Alunos/professor                                          4.714286
Ocupação Máxima                                                NaN
Professor                                                      2.0
Name: 163, dtype: object

In [156]:
dataGUA[[' ', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3']].head(2)

,,Unnamed: 1,Unnamed: 2,AUX 2,AUX 3
0,NaN,NaN,NaN,CROSSFIT - 05:30,CROSSFIT - WESLEY NATAN
1,NaN,NaN,NaN,A - MUSCULAÇÃO COM PERSONAL - 06:00,A - MUSCULAÇÃO COM PERSONAL - GILJOAN

In [157]:
dropColuns = [' ', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [158]:
dataGUA.drop(columns=dropColuns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [159]:
dataGUA.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [160]:
dataGUA.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",05:30,MANHÃ,WESLEY NATAN,10,5,10,12,...,11,10,12,10,NaN,22,11.227273,NaN,NaN,0.0
1,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,GILJOAN,26,20,22,24,...,24,28,34,28,NaN,22,26.772727,NaN,NaN,0.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [161]:
for columns in dataGUA.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [162]:
dataGUA.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [163]:
dataGUA.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [164]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [165]:
novas_colunas_GUA = []

In [166]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_GUA.append(novo_nome)

In [167]:
novas_colunas_GUA

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [168]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [169]:
for columns in dataGUA.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [170]:
dataGUA.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [171]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [172]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataGUA[columns] = pd.to_numeric(dataGUA[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [173]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [174]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataGUA.columns if columns not in colunas_para_melt]

In [175]:
dataGUA_melted = pd.melt(dataGUA,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [176]:
dataGUA_melted.head(3)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",05:30,MANHÃ,WESLEY NATAN,22,11.227273,NaN,NaN,0.0,01-10-2024,10
1,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,GILJOAN,22,26.772727,NaN,NaN,0.0,01-10-2024,26
2,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,GILJOAN,22,30.590909,7.333333,NaN,3.0,01-10-2024,40

In [177]:
dataGUA_melted['Frequencia de Alunos'].sum()

23860

In [178]:
# Aplica a lógica condicional para criar a coluna 'TURNO' usando .loc e comparação de strings
dataGUA_melted.loc[dataGUA_melted['HORÁRIO'] <= '12:30', 'TURNO'] = 'MANHÃ'
dataGUA_melted.loc[dataGUA_melted['HORÁRIO'] > '12:30', 'TURNO'] = 'NOITE'

In [179]:
dataGUA_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",05:30,MANHÃ,WESLEY NATAN,22,11.227273,NaN,NaN,0.0,01-10-2024,10
1,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,GILJOAN,22,26.772727,NaN,NaN,0.0,01-10-2024,26

____

____

# KENNEDY [KEN] - PREPROCESSING 8

In [180]:
data8 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='KEN', skiprows=1, nrows=99)

In [181]:
dataKEN = data8.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [182]:
dataKEN.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,Ocupação Máxima,Professor,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
96,NaN,NaN,NaN,QUADRA,BEACH TENIS INICIANTE,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,BEACH TENIS INICIANTE - 21:00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
dataKEN.iloc[-1]

Unnamed: 0                                               NaN
Unnamed: 1                                               NaN
Unnamed: 2                                               NaN
CATEGORIA                                         MUSC - S/P
MODALIDADE                       A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                        seg, ter, qua, qui, sex
HORÁRIO                                             22:00:00
AUX.1                                                  22:00
TURNO                                                  NOITE
AUX 2                    A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                            DOUGLAS
AUX 3                  A - MUSCULAÇÃO SEM PERSONAL - DOUGLAS
2024-10-01 00:00:00                                       52
2024-10-02 00:00:00                                        6
2024-10-03 00:00:00                                       38
2024-10-04 00:00:00                                        3
2024-10-07 00:00:00                                        2
2024-10-08 00:00:00                                        6
2024-10-09 00:00:00                                       35
2024-10-10 00:00:00                                       39
2024-10-11 00:00:00                                       28
2024-10-14 00:00:00                                       29
2024-10-15 00:00:00                                       41
2024-10-16 00:00:00                                       30
2024-10-17 00:00:00                                       35
2024-10-18 00:00:00                                       28
2024-10-21 00:00:00                                       42
2024-10-22 00:00:00                                       31
2024-10-23 00:00:00                                       33
2024-10-24 00:00:00                                       22
2024-10-25 00:00:00                                       26
2024-10-28 00:00:00                                       35
2024-10-29 00:00:00                                       24
2024-10-30 00:00:00                                       35
2024-10-31 00:00:00                                      NaN
Aulas/mês                                                 22
Média                                              28.181818
Alunos/professor                                         NaN
Ocupação Máxima                                          NaN
Professor                                                NaN
Unnamed: 40                                              NaN
Unnamed: 41                                              NaN
Unnamed: 42                                              NaN
Unnamed: 43                                              NaN
Unnamed: 44                                              NaN
Unnamed: 45                                              NaN
Unnamed: 46                                              NaN
Unnamed: 47                                              NaN
Name: 98, dtype: object

In [184]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1','Unnamed: 2', 'HORÁRIO', 'AUX 2', 'AUX 3',
              'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46','Unnamed: 47']

In [185]:
dataKEN.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [186]:
dataKEN.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [187]:
dataKEN.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,FRANCYS JOADMAR,30,28,28,34,...,26,24,22,26,22,23,25.782609,NaN,NaN,0.0
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,FRANCYS JOADMAR,75,80,70,55,...,55,69,64,60,55,23,65.826087,NaN,NaN,NaN

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [188]:
for columns in dataKEN.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [189]:
dataKEN.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [190]:
dataKEN.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Aulas/mês', 'Média', 'Alunos/professor', 'Ocupação Máxima',
       'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [191]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [192]:
novas_colunas_KEN = []

In [193]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_KEN.append(novo_nome)

In [194]:
novas_colunas_KEN

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [195]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [196]:
for columns in dataKEN.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [197]:
dataKEN.columns =[
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [198]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [199]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataKEN[columns] = pd.to_numeric(dataKEN[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [200]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [201]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataKEN.columns if columns not in colunas_para_melt]

In [202]:
dataKEN_melted = pd.melt(dataKEN,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [203]:
dataKEN_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,FRANCYS JOADMAR,23,25.782609,NaN,NaN,0.0,01-10-2024,30
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,FRANCYS JOADMAR,23,65.826087,NaN,NaN,NaN,01-10-2024,75

In [204]:
dataKEN_melted['Frequencia de Alunos'].sum()

45687

____

____

# MARANGUAPE [MPE] - PREPROCESSING 9

In [205]:
data9 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='MPE', skiprows=1, nrows=77)

In [206]:
dataMPE = data9.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [207]:
dataMPE.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
72,NaN,NaN,NaN,QUADRA,BEACH TENNIS INICIANTE,"seg,ter,qua,qui,sex",21:00:00,21:00,NOITE,BEACH TENNIS INICIANTE - 21:00,...,10,15,16,9,NaN,22,15.000000,NaN,NaN,0.0
73,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 22:00,...,0,0,0,2,NaN,22,1.090909,NaN,NaN,0.0
74,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,3,16,31,14,NaN,22,12.318182,6.159091,NaN,2.0

In [208]:
dataMPE.iloc[-1]

Unnamed: 0                                             NaN
Unnamed: 1                                             NaN
Unnamed: 2                                             NaN
CATEGORIA                                       MUSC - S/P
MODALIDADE                     A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                      seg, ter, qua, qui, sex
HORÁRIO                                           22:00:00
AUX.1                                                22:00
TURNO                                                NOITE
AUX 2                  A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                             NILO
AUX 3                   A - MUSCULAÇÃO SEM PERSONAL - NILO
2024-10-01 00:00:00                                     14
2024-10-02 00:00:00                                     11
2024-10-03 00:00:00                                      5
2024-10-04 00:00:00                                      3
2024-10-07 00:00:00                                     12
2024-10-08 00:00:00                                     19
2024-10-09 00:00:00                                     11
2024-10-10 00:00:00                                     11
2024-10-11 00:00:00                                      6
2024-10-14 00:00:00                                     26
2024-10-15 00:00:00                                     13
2024-10-16 00:00:00                                     14
2024-10-17 00:00:00                                      2
2024-10-18 00:00:00                                     10
2024-10-21 00:00:00                                     15
2024-10-22 00:00:00                                      7
2024-10-23 00:00:00                                     21
2024-10-24 00:00:00                                      7
2024-10-25 00:00:00                                      3
2024-10-28 00:00:00                                     16
2024-10-29 00:00:00                                     31
2024-10-30 00:00:00                                     14
2024-10-31 00:00:00                                    NaN
Aulas/mês                                               22
Média                                            12.318182
Alunos/professor                                  6.159091
Ocupação Máxima                                        NaN
Professor                                              2.0
Name: 74, dtype: object

In [209]:
dataMPE.columns

Index([       'Unnamed: 0',        'Unnamed: 1',        'Unnamed: 2',
               'CATEGORIA',        'MODALIDADE',     'DIA DA SEMANA',
                 'HORÁRIO',             'AUX.1',             'TURNO',
                   'AUX 2',         'PROFESSOR',             'AUX 3',
       2024-10-01 00:00:00, 2024-10-02 00:00:00, 2024-10-03 00:00:00,
       2024-10-04 00:00:00, 2024-10-07 00:00:00, 2024-10-08 00:00:00,
       2024-10-09 00:00:00, 2024-10-10 00:00:00, 2024-10-11 00:00:00,
       2024-10-14 00:00:00, 2024-10-15 00:00:00, 2024-10-16 00:00:00,
       2024-10-17 00:00:00, 2024-10-18 00:00:00, 2024-10-21 00:00:00,
       2024-10-22 00:00:00, 2024-10-23 00:00:00, 2024-10-24 00:00:00,
       2024-10-25 00:00:00, 2024-10-28 00:00:00, 2024-10-29 00:00:00,
       2024-10-30 00:00:00, 2024-10-31 00:00:00,         'Aulas/mês',
                   'Média',  'Alunos/professor',   'Ocupação Máxima',
               'Professor'],
      dtype='object')

In [210]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [211]:
dataMPE.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [212]:
dataMPE.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [213]:
dataMPE.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,NELSON,12,12,13,12,...,10,17,12,17,7,23,12.652174,NaN,NaN,0.0
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,NELSON,56,48,45,60,...,48,57,48,51,42,23,49.565217,24.782609,NaN,2.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [214]:
for columns in dataMPE.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [215]:
dataMPE.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [216]:
dataMPE.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Aulas/mês', 'Média', 'Alunos/professor', 'Ocupação Máxima',
       'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [217]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [218]:
novas_colunas_MPE = []

In [219]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_MPE.append(novo_nome)

In [220]:
novas_colunas_MPE

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [221]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [222]:
for columns in dataMPE.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [223]:
dataMPE.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [224]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [225]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMPE[columns] = pd.to_numeric(dataMPE[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [226]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [227]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMPE.columns if columns not in colunas_para_melt]

In [228]:
dataMPE_melted = pd.melt(dataMPE,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [229]:
dataMPE_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,NELSON,23,12.652174,NaN,NaN,0.0,01-10-2024,12
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,NELSON,23,49.565217,24.782609,NaN,2.0,01-10-2024,56

In [230]:
dataMPE_melted['Frequencia de Alunos'].sum()

26108

____

____

# MARAPONGA [MAR] - PREPROCESSING 10

In [231]:
data10 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='MAR', skiprows=1, nrows=86)

In [232]:
dataMAR = data10.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [233]:
dataMAR.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
83,NaN,NaN,NaN,QUADRA,BEACH TENIS,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,BEACH TENIS - 21:00,...,7,8,14,NaN,NaN,18,9.444444,NaN,NaN,NaN
84,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO COM PERSONAL - 22:00,...,2,0,NaN,NaN,NaN,20,1.950000,NaN,NaN,NaN
85,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,35,32,NaN,NaN,NaN,20,43.750000,21.875,NaN,2.0

In [234]:
dataMAR.iloc[-1]

Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
CATEGORIA                                             MUSC - S/P
MODALIDADE                           A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                            seg, ter, qua, qui, sex
HORÁRIO                                                 22:00:00
AUX.1                                                      22:00
TURNO                                                      NOITE
AUX 2                        A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  ALCEU
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - ALCEU
2024-10-01 00:00:00                                           46
2024-10-02 00:00:00                                           37
2024-10-03 00:00:00                                           29
2024-10-04 00:00:00                                           39
2024-10-07 00:00:00                                           61
2024-10-08 00:00:00                                           58
2024-10-09 00:00:00                                           49
2024-10-10 00:00:00                                           38
2024-10-11 00:00:00                                           30
2024-10-14 00:00:00                                           45
2024-10-15 00:00:00                                           38
2024-10-16 00:00:00                                           50
2024-10-17 00:00:00                                           45
2024-10-18 00:00:00                                           40
2024-10-21 00:00:00                                           62
2024-10-22 00:00:00                                           53
2024-10-23 00:00:00                                           48
2024-10-24 00:00:00                                           40
2024-10-25 00:00:00                                           35
2024-10-28 00:00:00                                           32
2024-10-29 00:00:00                                          NaN
2024-10-30 00:00:00                                          NaN
2024-10-31 00:00:00                                          NaN
Média alunos p/ professor                                     20
Média                                                      43.75
Alunos/professor                                          21.875
Ocupação Máxima                                              NaN
Professor                                                    2.0
Name: 85, dtype: object

In [235]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [236]:
dataMAR.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [237]:
dataMAR.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

In [238]:
dataMAR.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,SEBASTIAN,12,19,16,15,...,18,16,14,19,NaN,22,17.272727,NaN,NaN,0.0
1,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,PETTERSON,11,11,10,10,...,6,6,6,7,NaN,22,8.863636,NaN,NaN,0.0

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [239]:
for columns in dataMAR.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [240]:
dataMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [241]:
dataMAR.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [242]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [243]:
novas_colunas_MAR = []

In [244]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_MAR.append(novo_nome)

In [245]:
novas_colunas_MAR

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [246]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [247]:
for columns in dataMAR.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [248]:
dataMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [249]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [250]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataMAR[columns] = pd.to_numeric(dataMAR[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [251]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [252]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataMAR.columns if columns not in colunas_para_melt]

In [253]:
dataMAR_melted = pd.melt(dataMAR,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [254]:
dataMAR_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,SEBASTIAN,22,17.272727,NaN,NaN,0.0,01-10-2024,12
1,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,PETTERSON,22,8.863636,NaN,NaN,0.0,01-10-2024,11

In [255]:
dataMAR_melted['Frequencia de Alunos'].sum()

31364

___

____

# SUL [SUL] - PREPROCESSING 11

In [256]:
data11 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='SUL', skiprows=1, nrows=110)

In [257]:
dataSUL = data11.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [258]:
dataSUL.tail(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Unnamed: 40
108,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",21:00:00,21:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 21:00,...,36,35,26,NaN,22,31.363636,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",22:00:00,22:00,NOITE,A - MUSCULAÇÃO SEM PERSONAL - 22:00,...,15,NaN,18,NaN,21,10.952381,NaN,NaN,NaN,NaN

In [259]:
dataSUL.iloc[-1]

Unnamed: 0                                                        NaN
Unnamed: 1                                                        NaN
Unnamed: 2                                                        NaN
CATEGORIA                                                  MUSC - S/P
MODALIDADE                                A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                                 seg, ter, qua, qui, sex
HORÁRIO                                                      22:00:00
AUX.1                                                           22:00
TURNO                                                           NOITE
AUX 2                             A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  JOÃO PEDRO
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - JOÃO PEDRO
2024-10-01 00:00:00                                                 1
2024-10-02 00:00:00                                                 2
2024-10-03 00:00:00                                                 3
2024-10-04 00:00:00                                                 3
2024-10-07 00:00:00                                                11
2024-10-08 00:00:00                                                11
2024-10-09 00:00:00                                                11
2024-10-10 00:00:00                                                11
2024-10-11 00:00:00                                                10
2024-10-14 00:00:00                                                10
2024-10-15 00:00:00                                                10
2024-10-16 00:00:00                                                10
2024-10-17 00:00:00                                                 9
2024-10-18 00:00:00                                                10
2024-10-21 00:00:00                                                22
2024-10-22 00:00:00                                                18
2024-10-23 00:00:00                                                15
2024-10-24 00:00:00                                                15
2024-10-25 00:00:00                                                15
2024-10-28 00:00:00                                                15
2024-10-29 00:00:00                                               NaN
2024-10-30 00:00:00                                                18
2024-10-31 00:00:00                                               NaN
Média alunos p/ professor                                          21
Média                                                       10.952381
Alunos/professor                                                  NaN
Ocupação Máxima                                                   NaN
Professor                                                         NaN
Unnamed: 40                                                       NaN
Name: 109, dtype: object

In [260]:
dataSUL.iloc[0]

Unnamed: 0                                                         NaN
Unnamed: 1                                                         NaN
Unnamed: 2                                                         NaN
CATEGORIA                                                       QUADRA
MODALIDADE                                    BEACH TENNIS - INICIANTE
DIA DA SEMANA                                              seg,qua,sex
HORÁRIO                                                       05:30:00
AUX.1                                                            05:30
TURNO                                                            MANHÃ
AUX 2                                 BEACH TENNIS - INICIANTE - 05:30
PROFESSOR                                               ELIAS OLIVEIRA
AUX 3                        BEACH TENNIS - INICIANTE - ELIAS OLIVEIRA
2024-10-01 00:00:00                                                  x
2024-10-02 00:00:00                                                  5
2024-10-03 00:00:00                                                  x
2024-10-04 00:00:00                                                  7
2024-10-07 00:00:00                                                  4
2024-10-08 00:00:00                                                  x
2024-10-09 00:00:00                                                  7
2024-10-10 00:00:00                                                  x
2024-10-11 00:00:00                                                  7
2024-10-14 00:00:00                                                  5
2024-10-15 00:00:00                                                  x
2024-10-16 00:00:00                                                 10
2024-10-17 00:00:00                                                  x
2024-10-18 00:00:00                                                  9
2024-10-21 00:00:00                                                 10
2024-10-22 00:00:00                                                  x
2024-10-23 00:00:00                                                  9
2024-10-24 00:00:00                                                  x
2024-10-25 00:00:00                                                 25
2024-10-28 00:00:00                                                  4
2024-10-29 00:00:00                                                  x
2024-10-30 00:00:00                                                  8
2024-10-31 00:00:00                                                  x
Média alunos p/ professor                                           13
Média                                                         8.461538
Alunos/professor                                                   NaN
Ocupação Máxima                                                    NaN
Professor                                                          0.0
Unnamed: 40                                                        NaN
Name: 0, dtype: object

In [261]:
dropColumns = ['Unnamed: 0' , 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 40',
               'HORÁRIO', 'AUX 2', 'AUX 3']

In [262]:
dataSUL.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [263]:
dataSUL.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [264]:
for columns in dataSUL.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [265]:
dataSUL.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [266]:
dataSUL.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [267]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [268]:
novas_colunas_SUL = []

In [269]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_SUL.append(novo_nome)

In [270]:
novas_colunas_SUL

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [271]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [272]:
for columns in dataSUL.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [273]:
dataSUL.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [274]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [275]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataSUL[columns] = pd.to_numeric(dataSUL[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [276]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [277]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataSUL.columns if columns not in colunas_para_melt]

In [278]:
dataSUL_melted = pd.melt(dataSUL,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [279]:
dataSUL_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,QUADRA,BEACH TENNIS - INICIANTE,"seg,qua,sex",05:30,MANHÃ,ELIAS OLIVEIRA,13,8.461538,NaN,NaN,0.0,01-10-2024,0
1,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30,MANHÃ,ELIAS OLIVEIRA,9,5.111111,NaN,NaN,NaN,01-10-2024,4

In [280]:
dataSUL_melted['Frequencia de Alunos'].sum()

34269

___

____

# RUI BARBOSA [RUI] - PREPROCESSING 12

In [281]:
data12 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='RUI', skiprows=1, nrows=88)

In [282]:
dataRUI = data12.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [283]:
dataRUI.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO COM PERSONAL - 06:00,...,42,54,54,50,52,23,54.130435,NaN,NaN,0.0
1,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO SEM PERSONAL - 06:00,...,45,48,65,59,51,23,49.043478,7.666667,NaN,3.0

In [284]:
dataRUI.iloc[0]

Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
CATEGORIA                                             MUSC - C/P
MODALIDADE                           A - MUSCULAÇÃO COM PERSONAL
DIA DA SEMANA                            seg, ter, qua, qui, sex
HORÁRIO                                                 06:00:00
AUX.1                                                      06:00
TURNO                                                      MANHÃ
AUX 2                        A - MUSCULAÇÃO COM PERSONAL - 06:00
PROFESSOR                                                  PABLO
AUX 3                        A - MUSCULAÇÃO COM PERSONAL - PABLO
2024-10-01 00:00:00                                           66
2024-10-02 00:00:00                                           40
2024-10-03 00:00:00                                           40
2024-10-04 00:00:00                                           52
2024-10-07 00:00:00                                           54
2024-10-08 00:00:00                                           48
2024-10-09 00:00:00                                           54
2024-10-10 00:00:00                                           74
2024-10-11 00:00:00                                           48
2024-10-14 00:00:00                                           70
2024-10-15 00:00:00                                           53
2024-10-16 00:00:00                                           60
2024-10-17 00:00:00                                           52
2024-10-18 00:00:00                                           62
2024-10-21 00:00:00                                           68
2024-10-22 00:00:00                                           47
2024-10-23 00:00:00                                           51
2024-10-24 00:00:00                                           54
2024-10-25 00:00:00                                           42
2024-10-28 00:00:00                                           54
2024-10-29 00:00:00                                           54
2024-10-30 00:00:00                                           50
2024-10-31 00:00:00                                           52
Média alunos p/ professor                                     23
Média                                                  54.130435
Alunos/professor                                             NaN
Ocupação Máxima                                              NaN
Professor                                                    0.0
Name: 0, dtype: object

In [285]:
dataRUI.iloc[-1]

Unnamed: 0                                                    NaN
Unnamed: 1                                                    NaN
Unnamed: 2                                                    NaN
CATEGORIA                                              MUSC - S/P
MODALIDADE                            A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                             seg, ter, qua, qui, sex
HORÁRIO                                                  22:00:00
AUX.1                                                       22:00
TURNO                                                       NOITE
AUX 2                         A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  JAMARA
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - JAMARA
2024-10-01 00:00:00                                           NaN
2024-10-02 00:00:00                                           NaN
2024-10-03 00:00:00                                           NaN
2024-10-04 00:00:00                                             3
2024-10-07 00:00:00                                           NaN
2024-10-08 00:00:00                                           NaN
2024-10-09 00:00:00                                           NaN
2024-10-10 00:00:00                                           NaN
2024-10-11 00:00:00                                           NaN
2024-10-14 00:00:00                                           NaN
2024-10-15 00:00:00                                           NaN
2024-10-16 00:00:00                                           NaN
2024-10-17 00:00:00                                           NaN
2024-10-18 00:00:00                                           NaN
2024-10-21 00:00:00                                           NaN
2024-10-22 00:00:00                                           NaN
2024-10-23 00:00:00                                           NaN
2024-10-24 00:00:00                                           NaN
2024-10-25 00:00:00                                           NaN
2024-10-28 00:00:00                                           NaN
2024-10-29 00:00:00                                           NaN
2024-10-30 00:00:00                                           NaN
2024-10-31 00:00:00                                           NaN
Média alunos p/ professor                                       1
Média                                                         3.0
Alunos/professor                                              NaN
Ocupação Máxima                                               NaN
Professor                                                     NaN
Name: 87, dtype: object

In [286]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'AUX 2',
               'AUX 3', 'HORÁRIO']

In [287]:
dataRUI.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [288]:
dataRUI.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [289]:
for columns in dataRUI.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [290]:
dataRUI.columns=[
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

In [291]:
dataRUI.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [292]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [293]:
novas_colunas_RUI = []

In [294]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_RUI.append(novo_nome)

In [295]:
novas_colunas_RUI

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [296]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [297]:
for columns in dataRUI.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [298]:
dataRUI.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [299]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [300]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataRUI[columns] = pd.to_numeric(dataRUI[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [301]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [302]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataRUI.columns if columns not in colunas_para_melt]

In [303]:
dataRUI_melted = pd.melt(dataRUI,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [304]:
dataRUI_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,PABLO,23,54.130435,NaN,NaN,0.0,01-10-2024,66
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,PABLO,23,49.043478,7.666667,NaN,3.0,01-10-2024,62

In [305]:
dataRUI_melted['Frequencia de Alunos'].sum()

27373

___

____

# PASSARÉ [PAS] - PREPROCESSING 13

In [306]:
data13 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='PAS', skiprows=1, nrows=89)

In [307]:
dataPAS = data13.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [308]:
dataPAS.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Unnamed: 40
0,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO COM PERSONAL - 06:00,...,19,16,24,10,19,19.263158,NaN,NaN,0.0,NaN
1,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,A - MUSCULAÇÃO SEM PERSONAL - 06:00,...,68,90,85,50,19,77.894737,6.333333,NaN,3.0,NaN

In [309]:
dataPAS.iloc[0]

Unnamed: 0                                                    NaN
Unnamed: 1                                                    NaN
Unnamed: 2                                                    NaN
CATEGORIA                                              MUSC - C/P
MODALIDADE                            A - MUSCULAÇÃO COM PERSONAL
DIA DA SEMANA                             seg, ter, qua, qui, sex
HORÁRIO                                                  06:00:00
AUX.1                                                       06:00
TURNO                                                       MANHÃ
AUX 2                         A - MUSCULAÇÃO COM PERSONAL - 06:00
PROFESSOR                                                  MARCOS
AUX 3                        A - MUSCULAÇÃO COM PERSONAL - MARCOS
2024-10-01 00:00:00                                           NaN
2024-10-02 00:00:00                                            12
2024-10-03 00:00:00                                            22
2024-10-04 00:00:00                                            18
2024-10-07 00:00:00                                            22
2024-10-08 00:00:00                                            18
2024-10-09 00:00:00                                            18
2024-10-10 00:00:00                                            20
2024-10-11 00:00:00                                            22
2024-10-14 00:00:00                                            20
2024-10-15 00:00:00                                           NaN
2024-10-16 00:00:00                                           NaN
2024-10-17 00:00:00                                            26
2024-10-18 00:00:00                                           NaN
2024-10-21 00:00:00                                            23
2024-10-22 00:00:00                                            23
2024-10-23 00:00:00                                            18
2024-10-24 00:00:00                                            16
2024-10-25 00:00:00                                            19
2024-10-28 00:00:00                                            19
2024-10-29 00:00:00                                            16
2024-10-30 00:00:00                                            24
2024-10-31 00:00:00                                            10
Média alunos p/ professor                                      19
Média                                                   19.263158
Alunos/professor                                              NaN
Ocupação Máxima                                               NaN
Professor                                                     0.0
Unnamed: 40                                                   NaN
Name: 0, dtype: object

In [310]:
dataPAS.iloc[-1]

Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
CATEGORIA                                             MUSC - S/P
MODALIDADE                           A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                            seg, ter, qua, qui, sex
HORÁRIO                                                 22:00:00
AUX.1                                                      22:00
TURNO                                                      NOITE
AUX 2                        A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                    ANA
AUX 3                                                        NaN
2024-10-01 00:00:00                                           37
2024-10-02 00:00:00                                           39
2024-10-03 00:00:00                                           34
2024-10-04 00:00:00                                           17
2024-10-07 00:00:00                                           37
2024-10-08 00:00:00                                           44
2024-10-09 00:00:00                                           39
2024-10-10 00:00:00                                           38
2024-10-11 00:00:00                                           30
2024-10-14 00:00:00                                           44
2024-10-15 00:00:00                                           38
2024-10-16 00:00:00                                           32
2024-10-17 00:00:00                                          NaN
2024-10-18 00:00:00                                          NaN
2024-10-21 00:00:00                                           46
2024-10-22 00:00:00                                           38
2024-10-23 00:00:00                                           44
2024-10-24 00:00:00                                          NaN
2024-10-25 00:00:00                                            x
2024-10-28 00:00:00                                          NaN
2024-10-29 00:00:00                                          NaN
2024-10-30 00:00:00                                           22
2024-10-31 00:00:00                                          NaN
Média alunos p/ professor                                     16
Média                                                    36.1875
Alunos/professor                                             NaN
Ocupação Máxima                                              NaN
Professor                                                    NaN
Unnamed: 40                                                  NaN
Name: 88, dtype: object

In [311]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
               'AUX 2', 'AUX 3', 'Unnamed: 40']

In [312]:
dataPAS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [313]:
dataPAS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [314]:
for columns in dataPAS.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [315]:
dataPAS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor'
]

In [316]:
dataPAS.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [317]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00'
]

In [318]:
novas_colunas_PAS = []

In [319]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PAS.append(novo_nome)

In [320]:
novas_colunas_PAS

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [321]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [322]:
for columns in dataPAS.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [323]:
dataPAS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [324]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [325]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPAS[columns] = pd.to_numeric(dataPAS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [326]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [327]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPAS.columns if columns not in colunas_para_melt]

In [328]:
dataPAS_melted = pd.melt(dataPAS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [329]:
dataPAS_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,MARCOS,19,19.263158,NaN,NaN,0.0,01-10-2024,0
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,MARCOS,19,77.894737,6.333333,NaN,3.0,01-10-2024,0

In [330]:
dataPAS_melted['Frequencia de Alunos'].sum()

25667

____

____

# PARQUELÂNDIA [PARQ] - PREPROCESSING 14

In [331]:
data14 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='PARQ', skiprows=1, nrows=66)

In [332]:
dataPARQ = data14.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [333]:
dataPARQ.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,...,Ocupação Máxima,Professor,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,NaN,NaN,NaN,NaN,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [334]:
dataPARQ.iloc[0]

Unnamed: 0                                                           NaN
Unnamed: 1                                                           NaN
Unnamed: 2                                                           NaN
Unnamed: 3                                                           NaN
CATEGORIA                                                     MUSC - C/P
MODALIDADE                                   A - MUSCULAÇÃO COM PERSONAL
DIA DA SEMANA                                    seg, ter, qua, qui, sex
HORÁRIO                                                         06:00:00
AUX.1                                                              06:00
TURNO                                                              MANHÃ
AUX 2                                A - MUSCULAÇÃO COM PERSONAL - 06:00
PROFESSOR                                                  DANIEL CHAVES
AUX 3                        A - MUSCULAÇÃO COM PERSONAL - DANIEL CHAVES
2024-10-01 00:00:00                                                   21
2024-10-02 00:00:00                                                   32
2024-10-03 00:00:00                                                   23
2024-10-04 00:00:00                                                   24
2024-10-07 00:00:00                                                   23
2024-10-08 00:00:00                                                   26
2024-10-09 00:00:00                                                   30
2024-10-10 00:00:00                                                   18
2024-10-11 00:00:00                                                   25
2024-10-14 00:00:00                                                   30
2024-10-15 00:00:00                                                   23
2024-10-16 00:00:00                                                   30
2024-10-17 00:00:00                                                   28
2024-10-18 00:00:00                                                   18
2024-10-21 00:00:00                                                   26
2024-10-22 00:00:00                                                   17
2024-10-23 00:00:00                                                   30
2024-10-24 00:00:00                                                   28
2024-10-25 00:00:00                                                   23
2024-10-28 00:00:00                                                    8
2024-10-29 00:00:00                                                   21
2024-10-30 00:00:00                                                   25
2024-10-31 00:00:00                                                   20
Média alunos p/ professor                                             23
Média                                                          23.869565
Alunos/professor                                                     NaN
Ocupação Máxima                                                      NaN
Professor                                                            0.0
Unnamed: 41                                                          NaN
Unnamed: 42                                                          NaN
Unnamed: 43                                                          NaN
Unnamed: 44                                                          NaN
Unnamed: 45                                                          NaN
Unnamed: 46                                                          NaN
Unnamed: 47                                                          NaN
Unnamed: 48                                                          NaN
Name: 0, dtype: object

In [335]:
dataPARQ.iloc[-1]

Unnamed: 0                                                             NaN
Unnamed: 1                                                             NaN
Unnamed: 2                                                             NaN
Unnamed: 3                                                             NaN
CATEGORIA                                                       MUSC - S/P
MODALIDADE                                     A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                                      seg, ter, qua, qui, sex
HORÁRIO                                                           22:00:00
AUX.1                                                                22:00
TURNO                                                                NOITE
AUX 2                                  A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  ALEXANDRE SALES
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - ALEXANDRE SALES
2024-10-01 00:00:00                                                     15
2024-10-02 00:00:00                                                     12
2024-10-03 00:00:00                                                     26
2024-10-04 00:00:00                                                      6
2024-10-07 00:00:00                                                     12
2024-10-08 00:00:00                                                     15
2024-10-09 00:00:00                                                     13
2024-10-10 00:00:00                                                     14
2024-10-11 00:00:00                                                      9
2024-10-14 00:00:00                                                      8
2024-10-15 00:00:00                                                      5
2024-10-16 00:00:00                                                      9
2024-10-17 00:00:00                                                     12
2024-10-18 00:00:00                                                      8
2024-10-21 00:00:00                                                      3
2024-10-22 00:00:00                                                      8
2024-10-23 00:00:00                                                     14
2024-10-24 00:00:00                                                      8
2024-10-25 00:00:00                                                      8
2024-10-28 00:00:00                                                      9
2024-10-29 00:00:00                                                    NaN
2024-10-30 00:00:00                                                    NaN
2024-10-31 00:00:00                                                    NaN
Média alunos p/ professor                                               20
Média                                                                 10.7
Alunos/professor                                                      10.0
Ocupação Máxima                                                        NaN
Professor                                                              2.0
Unnamed: 41                                                            NaN
Unnamed: 42                                                            NaN
Unnamed: 43                                                            NaN
Unnamed: 44                                                            NaN
Unnamed: 45                                                            NaN
Unnamed: 46                                                            NaN
Unnamed: 47                                                            NaN
Unnamed: 48                                                            NaN
Name: 65, dtype: object

In [336]:
dropColumns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
 'HORÁRIO', 'AUX 2', 'AUX 3', 'Unnamed: 41', 'Unnamed: 42',
 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
 'Unnamed: 47', 'Unnamed: 48']

In [337]:
dataPARQ.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [338]:
dataPARQ.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [339]:
for columns in dataPARQ.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [340]:
dataPARQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [341]:
dataPARQ.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [342]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',]

In [343]:
novas_colunas_PARQ = []

In [344]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PARQ.append(novo_nome)

In [345]:
novas_colunas_PARQ

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [346]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [347]:
for columns in dataPARQ.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [348]:
dataPARQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor',
]

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [349]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [350]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPARQ[columns] = pd.to_numeric(dataPARQ[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricosM

In [351]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [352]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPARQ.columns if columns not in colunas_para_melt]

In [353]:
dataPARQ_melted = pd.melt(dataPARQ,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [354]:
dataPARQ_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,MUSC - C/P,A - MUSCULAÇÃO COM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,DANIEL CHAVES,23,23.869565,NaN,NaN,0.0,01-10-2024,21
1,MUSC - S/P,A - MUSCULAÇÃO SEM PERSONAL,"seg, ter, qua, qui, sex",06:00,MANHÃ,DANIEL CHAVES,23,31.043478,7.666667,NaN,3.0,01-10-2024,31

In [355]:
dataPARQ_melted['Frequencia de Alunos'].sum()

19982

____

____

# PERSONAL [PERS] - PREPROCESSING 15

In [356]:
data15 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='PERS', skiprows=2, nrows=180)

In [357]:
dataPERS = data15.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [358]:
dataPERS.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Unnamed: 37,Unnamed: 38,0
0,NaN,NaN,NaN,MUSC,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",07:00:00,07:00,MANHÃ,A - MUSCULAÇÃO - 07:00,...,NaN,1,3,2.0,NaN,19,1.631579,NaN,NaN,NaN
1,NaN,NaN,NaN,MUSC,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",08:00:00,08:00,MANHÃ,A - MUSCULAÇÃO - 08:00,...,S\P,1,3,2.0,NaN,20,1.800000,NaN,NaN,NaN

In [359]:
dataPERS.iloc[0]

Unnamed: 0                                                  NaN
Unnamed: 1                                                  NaN
Unnamed: 2                                                  NaN
CATEGORIA                                                  MUSC
MODALIDADE                                       A - MUSCULAÇÃO
DIA DA SEMANA                           seg, ter, qua, qui, sex
HORÁRIO                                                07:00:00
AUX.1                                                     07:00
TURNO                                                     MANHÃ
AUX 2                                    A - MUSCULAÇÃO - 07:00
PROFESSOR                                             AGOSTINHO
AUX 3                        A - MUSCULAÇÃO - AGOSTINHO - 07:00
2024-10-01 00:00:00                                           4
2024-10-02 00:00:00                                         NaN
2024-10-03 00:00:00                                           1
2024-10-04 00:00:00                                           1
2024-10-07 00:00:00                                           1
2024-10-08 00:00:00                                           1
2024-10-09 00:00:00                                           1
2024-10-10 00:00:00                                           1
2024-10-11 00:00:00                                           3
2024-10-14 00:00:00                                           1
2024-10-15 00:00:00                                           3
2024-10-16 00:00:00                                           1
2024-10-17 00:00:00                                         NaN
2024-10-18 00:00:00                                         2.0
2024-10-21 00:00:00                                           1
2024-10-22 00:00:00                                         1.0
2024-10-23 00:00:00                                         1.0
2024-10-24 00:00:00                                         2.0
2024-10-25 00:00:00                                         NaN
2024-10-28 00:00:00                                           1
2024-10-29 00:00:00                                           3
2024-10-30 00:00:00                                         2.0
2024-10-31 00:00:00                                         NaN
Média alunos p/ professor                                    19
Média                                                  1.631579
Unnamed: 37                                                 NaN
Unnamed: 38                                                 NaN
0                                                           NaN
Name: 0, dtype: object

In [360]:
dataPERS.iloc[-1]

Unnamed: 0                                       NaN
Unnamed: 1                                       NaN
Unnamed: 2                                       NaN
CATEGORIA                                       MUSC
MODALIDADE                               ALONGAMENTO
DIA DA SEMANA                seg, ter, qua, qui, sex
HORÁRIO                                     20:00:00
AUX.1                                          20:00
TURNO                                          NOITE
AUX 2                            ALONGAMENTO - 20:00
PROFESSOR                                        NaN
AUX 3                         ALONGAMENTO -  - 20:00
2024-10-01 00:00:00                                2
2024-10-02 00:00:00                              NaN
2024-10-03 00:00:00                              NaN
2024-10-04 00:00:00                                1
2024-10-07 00:00:00                                4
2024-10-08 00:00:00                                4
2024-10-09 00:00:00                              NaN
2024-10-10 00:00:00                              NaN
2024-10-11 00:00:00                              NaN
2024-10-14 00:00:00                              NaN
2024-10-15 00:00:00                              NaN
2024-10-16 00:00:00                              NaN
2024-10-17 00:00:00                              NaN
2024-10-18 00:00:00                              NaN
2024-10-21 00:00:00                              NaN
2024-10-22 00:00:00                              NaN
2024-10-23 00:00:00                              NaN
2024-10-24 00:00:00                              NaN
2024-10-25 00:00:00                              NaN
2024-10-28 00:00:00                              NaN
2024-10-29 00:00:00                              NaN
2024-10-30 00:00:00                              NaN
2024-10-31 00:00:00                              NaN
Média alunos p/ professor                          4
Média                                           2.75
Unnamed: 37                                      NaN
Unnamed: 38                                      NaN
0                                                NaN
Name: 178, dtype: object

In [361]:
dropColumns = [
'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
'AUX 2', 'AUX 3', 'Unnamed: 37', 'Unnamed: 38']

In [362]:
dataPERS.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [363]:
dataPERS.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [364]:
for columns in dataPERS.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
0

In [365]:
dataPERS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'0']

In [366]:
dataPERS['0'].unique()

array([nan, 0, 'Professor'], dtype=object)

In [367]:
dataPERS.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Média alunos p/ professor', 'Média', '0'],
      dtype='object')

In [368]:
search = (dataPERS['0'] == 'Professor')
dataPERS[search]

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,2024-10-01 00:00:00,2024-10-02 00:00:00,2024-10-03 00:00:00,2024-10-04 00:00:00,...,2024-10-23 00:00:00,2024-10-24 00:00:00,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,0
102,MUSC,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",12:00,MANHÃ,LINCOLN,2,1,NaN,1,...,1.0,NaN,1,2,1,1.0,NaN,17,1.411765,Professor

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [369]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
]

In [370]:
novas_colunas_PERS = []

In [371]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_PERS.append(novo_nome)

In [372]:
novas_colunas_PERS

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [373]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [374]:
for columns in dataPERS.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
0

In [375]:
dataPERS.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
'Média alunos p/ professor',
'Média',
'0']

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [376]:
colunas = [
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [377]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataPERS[columns] = pd.to_numeric(dataPERS[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [378]:
colunas_para_melt = [
'2024-10-01',
'2024-10-02',
'2024-10-03',
'2024-10-04',
'2024-10-07',
'2024-10-08',
'2024-10-09',
'2024-10-10',
'2024-10-11',
'2024-10-14',
'2024-10-15',
'2024-10-16',
'2024-10-17',
'2024-10-18',
'2024-10-21',
'2024-10-22',
'2024-10-23',
'2024-10-24',
'2024-10-25',
'2024-10-28',
'2024-10-29',
'2024-10-30',
'2024-10-31',
]

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [379]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataPERS.columns if columns not in colunas_para_melt]

In [380]:
dataPERS_melted = pd.melt(dataPERS,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [381]:
dataPERS_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,0,Dias de Aulas,Frequencia de Alunos
0,MUSC,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",07:00,MANHÃ,AGOSTINHO,19,1.631579,NaN,2024-10-01,4
1,MUSC,A - MUSCULAÇÃO,"seg, ter, qua, qui, sex",08:00,MANHÃ,AGOSTINHO,20,1.800000,NaN,2024-10-01,1

In [382]:
del dataPERS_melted['0']

In [383]:
dataPERS_melted['Frequencia de Alunos'].sum()

4990

____

____

# JÓQUEI [JÓQ] - PREPROCESSING 16

In [384]:
data16 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='JÓQ', skiprows=1, nrows=106)

In [385]:
dataJOQ = data16.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [386]:
dataJOQ.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,AUX.1,TURNO,AUX 2,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,NaN,NaN,QUADRA,BEACH TENIS INICIANTE,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,BEACH TENIS INICIANTE - 06:00,...,1,1,0,1,0,23,0.391304,NaN,NaN,0.0
1,NaN,NaN,NaN,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,CROSSFIT - 06:00,...,9,7,6,7,5,23,6.826087,NaN,NaN,0.0

In [387]:
dataJOQ.iloc[0]

Unnamed: 0                                              NaN
Unnamed: 1                                              NaN
Unnamed: 2                                              NaN
CATEGORIA                                            QUADRA
MODALIDADE                            BEACH TENIS INICIANTE
DIA DA SEMANA                       seg, ter, qua, qui, sex
HORÁRIO                                            06:00:00
AUX.1                                                 06:00
TURNO                                                 MANHÃ
AUX 2                         BEACH TENIS INICIANTE - 06:00
PROFESSOR                                      ANTONIO RYAN
AUX 3                  BEACH TENIS INICIANTE - ANTONIO RYAN
2024-10-01 00:00:00                                       0
2024-10-02 00:00:00                                       0
2024-10-03 00:00:00                                       1
2024-10-04 00:00:00                                       1
2024-10-07 00:00:00                                       1
2024-10-08 00:00:00                                       0
2024-10-09 00:00:00                                       1
2024-10-10 00:00:00                                       0
2024-10-11 00:00:00                                       0
2024-10-14 00:00:00                                       0
2024-10-15 00:00:00                                       0
2024-10-16 00:00:00                                       1
2024-10-17 00:00:00                                       0
2024-10-18 00:00:00                                       0
2024-10-21 00:00:00                                       0
2024-10-22 00:00:00                                       1
2024-10-23 00:00:00                                       0
2024-10-24 00:00:00                                       0
2024-10-25 00:00:00                                       1
2024-10-28 00:00:00                                       1
2024-10-29 00:00:00                                       0
2024-10-30 00:00:00                                       1
2024-10-31 00:00:00                                       0
Aulas/mês                                                23
Média                                              0.391304
Alunos/professor                                        NaN
Ocupação Máxima                                         NaN
Professor                                               0.0
Name: 0, dtype: object

In [388]:
dataJOQ.iloc[-1]

Unnamed: 0                                             NaN
Unnamed: 1                                             NaN
Unnamed: 2                                             NaN
CATEGORIA                                       MUSC - C/P
MODALIDADE                     A - MUSCULAÇÃO COM PERSONAL
DIA DA SEMANA                      seg, ter, qua, qui, sex
HORÁRIO                                           22:00:00
AUX.1                                                22:00
TURNO                                                NOITE
AUX 2                  A - MUSCULAÇÃO COM PERSONAL - 22:00
PROFESSOR                                            LUCAS
AUX 3                  A - MUSCULAÇÃO COM PERSONAL - LUCAS
2024-10-01 00:00:00                                      0
2024-10-02 00:00:00                                      0
2024-10-03 00:00:00                                      0
2024-10-04 00:00:00                                      0
2024-10-07 00:00:00                                      0
2024-10-08 00:00:00                                      1
2024-10-09 00:00:00                                    NaN
2024-10-10 00:00:00                                      1
2024-10-11 00:00:00                                      0
2024-10-14 00:00:00                                      0
2024-10-15 00:00:00                                      1
2024-10-16 00:00:00                                      0
2024-10-17 00:00:00                                      2
2024-10-18 00:00:00                                    NaN
2024-10-21 00:00:00                                      2
2024-10-22 00:00:00                                      1
2024-10-23 00:00:00                                      0
2024-10-24 00:00:00                                      1
2024-10-25 00:00:00                                      0
2024-10-28 00:00:00                                      0
2024-10-29 00:00:00                                      1
2024-10-30 00:00:00                                      0
2024-10-31 00:00:00                                    NaN
Aulas/mês                                               20
Média                                                  0.5
Alunos/professor                                       NaN
Ocupação Máxima                                        NaN
Professor                                              0.0
Name: 105, dtype: object

In [389]:
dropColumns = [
'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'HORÁRIO',
'AUX 2', 'AUX 3']

In [390]:
dataJOQ.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [391]:
dataJOQ.rename(columns={'AUX.1': 'HORÁRIO'}, inplace=True)

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [392]:
for columns in dataJOQ.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [393]:
dataJOQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [394]:
dataJOQ.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '2024-10-01 00:00:00', '2024-10-02 00:00:00',
       '2024-10-03 00:00:00', '2024-10-04 00:00:00', '2024-10-07 00:00:00',
       '2024-10-08 00:00:00', '2024-10-09 00:00:00', '2024-10-10 00:00:00',
       '2024-10-11 00:00:00', '2024-10-14 00:00:00', '2024-10-15 00:00:00',
       '2024-10-16 00:00:00', '2024-10-17 00:00:00', '2024-10-18 00:00:00',
       '2024-10-21 00:00:00', '2024-10-22 00:00:00', '2024-10-23 00:00:00',
       '2024-10-24 00:00:00', '2024-10-25 00:00:00', '2024-10-28 00:00:00',
       '2024-10-29 00:00:00', '2024-10-30 00:00:00', '2024-10-31 00:00:00',
       'Aulas/mês', 'Média', 'Alunos/professor', 'Ocupação Máxima',
       'Professor'],
      dtype='object')

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [395]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [396]:
novas_colunas_JOQ = []

In [397]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_JOQ.append(novo_nome)

In [398]:
novas_colunas_JOQ

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [399]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [400]:
for columns in dataJOQ.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Aulas/mês
Média
Alunos/professor
Ocupação Máxima
Professor

In [401]:
dataJOQ.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024', 
'Aulas/mês',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [402]:
dataJOQ.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '01-10-2024', '02-10-2024', '03-10-2024', '04-10-2024',
       '07-10-2024', '08-10-2024', '09-10-2024', '10-10-2024', '11-10-2024',
       '14-10-2024', '15-10-2024', '16-10-2024', '17-10-2024', '18-10-2024',
       '21-10-2024', '22-10-2024', '23-10-2024', '24-10-2024', '25-10-2024',
       '28-10-2024', '29-10-2024', '30-10-2024', '31-10-2024', 'Aulas/mês',
       'Média', 'Alunos/professor', 'Ocupação Máxima', 'Professor'],
      dtype='object')

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [403]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024'
]

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [404]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataJOQ[columns] = pd.to_numeric(dataJOQ[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [405]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [406]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataJOQ.columns if columns not in colunas_para_melt]

In [407]:
dataJOQ_melted = pd.melt(dataJOQ,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [408]:
dataJOQ_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Aulas/mês,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,QUADRA,BEACH TENIS INICIANTE,"seg, ter, qua, qui, sex",06:00,MANHÃ,ANTONIO RYAN,23,0.391304,NaN,NaN,0.0,01-10-2024,0
1,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,GERALDO,23,6.826087,NaN,NaN,0.0,01-10-2024,5

In [409]:
dataJOQ_melted['Frequencia de Alunos'].sum()

27836

___

___

## RIOMAR [RIOMAR] - PREPROCESSING 17

In [410]:
data17 = pd.read_excel('3.2 Mapa de Ocupação - OUT 2024.xlsx', sheet_name='RIOMAR', skiprows=1, nrows=211)

In [411]:
dataRIOMAR = data17.copy()

### 1 PASSO: Removendo colunas desnecessárias

In [412]:
dataRIOMAR.head(2)

,Unnamed: 0,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,AUX 1,AUX 2,PROFESSOR,AUX 3,...,2024-10-25 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor
0,NaN,ADULTO,GREENBIKE,"ter, qui",06:00:00,06:00,MANHÃ,GREENBIKE - 06:00,ALEXIS,GREENBIKE - ALEXIS,...,x,x,5,x,7,9.0,5.111111,NaN,NaN,0.0
1,NaN,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00:00,06:00,MANHÃ,CROSSFIT - 06:00,VICTOR,CROSSFIT - VICTOR,...,3,3,9,4,8,21.0,5.333333,NaN,NaN,0.0

In [413]:
dataRIOMAR.iloc[0]

Unnamed: 0                                  NaN
CATEGORIA                                ADULTO
MODALIDADE                            GREENBIKE
DIA DA SEMANA                          ter, qui
HORÁRIO                                06:00:00
TURNO                                     06:00
AUX 1                                     MANHÃ
AUX 2                         GREENBIKE - 06:00
PROFESSOR                                ALEXIS
AUX 3                        GREENBIKE - ALEXIS
2024-10-01 00:00:00                           5
2024-10-02 00:00:00                           x
2024-10-03 00:00:00                           3
2024-10-04 00:00:00                           x
2024-10-07 00:00:00                           x
2024-10-08 00:00:00                           5
2024-10-09 00:00:00                           x
2024-10-10 00:00:00                           5
2024-10-11 00:00:00                           x
2024-10-14 00:00:00                           x
2024-10-15 00:00:00                           x
2024-10-16 00:00:00                           x
2024-10-17 00:00:00                           5
2024-10-18 00:00:00                           x
2024-10-21 00:00:00                           x
2024-10-22 00:00:00                           5
2024-10-23 00:00:00                           x
2024-10-24 00:00:00                           6
2024-10-25 00:00:00                           x
2024-10-28 00:00:00                           x
2024-10-29 00:00:00                           5
2024-10-30 00:00:00                           x
2024-10-31 00:00:00                           7
Média alunos p/ professor                   9.0
Média                                  5.111111
Alunos/professor                            NaN
Ocupação Máxima                             NaN
Professor                                   0.0
Name: 0, dtype: object

In [414]:
dataRIOMAR.iloc[-1]

Unnamed: 0                                                    NaN
CATEGORIA                                              MUSC - S/P
MODALIDADE                            A - MUSCULAÇÃO SEM PERSONAL
DIA DA SEMANA                             seg, ter, qua, qui, sex
HORÁRIO                                                  22:00:00
TURNO                                                       22:00
AUX 1                                                       NOITE
AUX 2                         A - MUSCULAÇÃO SEM PERSONAL - 22:00
PROFESSOR                                                  RENATO
AUX 3                        A - MUSCULAÇÃO SEM PERSONAL - RENATO
2024-10-01 00:00:00                                            10
2024-10-02 00:00:00                                            12
2024-10-03 00:00:00                                             8
2024-10-04 00:00:00                                            10
2024-10-07 00:00:00                                            10
2024-10-08 00:00:00                                            12
2024-10-09 00:00:00                                            14
2024-10-10 00:00:00                                            10
2024-10-11 00:00:00                                            12
2024-10-14 00:00:00                                            15
2024-10-15 00:00:00                                            10
2024-10-16 00:00:00                                            10
2024-10-17 00:00:00                                            12
2024-10-18 00:00:00                                            10
2024-10-21 00:00:00                                            10
2024-10-22 00:00:00                                             8
2024-10-23 00:00:00                                             8
2024-10-24 00:00:00                                             8
2024-10-25 00:00:00                                             5
2024-10-28 00:00:00                                             5
2024-10-29 00:00:00                                           NaN
2024-10-30 00:00:00                                           NaN
2024-10-31 00:00:00                                           NaN
Média alunos p/ professor                                    20.0
Média                                                        9.95
Alunos/professor                                              NaN
Ocupação Máxima                                               NaN
Professor                                                     NaN
Name: 210, dtype: object

In [415]:
dropColumns = ['Unnamed: 0', 'AUX 2', 'AUX 3', 'HORÁRIO']

In [416]:
dataRIOMAR.drop(columns=dropColumns, inplace=True)

- PRECISAMOS RENOMEAR A COLUNA AUX.1 COMO HORARIO

In [417]:
dataRIOMAR.rename(columns={'TURNO': 'HORÁRIO'}, inplace=True)
dataRIOMAR.rename(columns={'AUX 1': 'TURNO'}, inplace=True)

In [418]:
dataRIOMAR[['TURNO', 'HORÁRIO']].head(2)

   TURNO HORÁRIO
0  MANHÃ   06:00
1  MANHÃ   06:00

### 2 PASSO: Renomeando strings de datas, para que o pandas possa aceitar como colunas

In [419]:
for columns in dataRIOMAR.columns:
    print(columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [420]:
dataRIOMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

### PASSO 3: Escolhendo colunas com o nome de 'datas', para renomear pelo o tipo dia, mês e ano. e removendo os 00 de horas

In [421]:
colunas = [
'2024-10-01 00:00:00',
'2024-10-02 00:00:00',
'2024-10-03 00:00:00',
'2024-10-04 00:00:00',
'2024-10-07 00:00:00',
'2024-10-08 00:00:00',
'2024-10-09 00:00:00',
'2024-10-10 00:00:00',
'2024-10-11 00:00:00',
'2024-10-14 00:00:00',
'2024-10-15 00:00:00',
'2024-10-16 00:00:00',
'2024-10-17 00:00:00',
'2024-10-18 00:00:00',
'2024-10-21 00:00:00',
'2024-10-22 00:00:00',
'2024-10-23 00:00:00',
'2024-10-24 00:00:00',
'2024-10-25 00:00:00',
'2024-10-28 00:00:00',
'2024-10-29 00:00:00',
'2024-10-30 00:00:00',
'2024-10-31 00:00:00']

In [422]:
novas_colunas_RIOMAR = []

In [423]:
for columns in colunas:
    # Remove a parte da hora
    data_sem_hora = columns.split(' ')[0]
    
    # Formata para o formato DD-MM-YYYY
    ano, mes, dia = data_sem_hora.split('-')
    novo_nome = f'{dia}-{mes}-{ano}'
    novas_colunas_RIOMAR.append(novo_nome)

In [424]:
novas_colunas_RIOMAR

['01-10-2024',
 '02-10-2024',
 '03-10-2024',
 '04-10-2024',
 '07-10-2024',
 '08-10-2024',
 '09-10-2024',
 '10-10-2024',
 '11-10-2024',
 '14-10-2024',
 '15-10-2024',
 '16-10-2024',
 '17-10-2024',
 '18-10-2024',
 '21-10-2024',
 '22-10-2024',
 '23-10-2024',
 '24-10-2024',
 '25-10-2024',
 '28-10-2024',
 '29-10-2024',
 '30-10-2024',
 '31-10-2024']

### PASSO 4 renomeando colunas e acrescentando o novo formato

copie as colunas que escolheu para renomear, e cole o formato novo no lugar das velhas

In [425]:
# Adicionando as datas formatadas as colunas, copiando e colando

In [426]:
for columns in dataRIOMAR.columns:
    print (columns)

CATEGORIA
MODALIDADE
DIA DA SEMANA
HORÁRIO
TURNO
PROFESSOR
2024-10-01 00:00:00
2024-10-02 00:00:00
2024-10-03 00:00:00
2024-10-04 00:00:00
2024-10-07 00:00:00
2024-10-08 00:00:00
2024-10-09 00:00:00
2024-10-10 00:00:00
2024-10-11 00:00:00
2024-10-14 00:00:00
2024-10-15 00:00:00
2024-10-16 00:00:00
2024-10-17 00:00:00
2024-10-18 00:00:00
2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-24 00:00:00
2024-10-25 00:00:00
2024-10-28 00:00:00
2024-10-29 00:00:00
2024-10-30 00:00:00
2024-10-31 00:00:00
Média alunos p/ professor
Média
Alunos/professor
Ocupação Máxima
Professor

In [427]:
dataRIOMAR.columns = [
'CATEGORIA',
'MODALIDADE',
'DIA DA SEMANA',
'HORÁRIO',
'TURNO',
'PROFESSOR',
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024',
'Média alunos p/ professor',
'Média',
'Alunos/professor',
'Ocupação Máxima',
'Professor']

In [428]:
dataRIOMAR.columns

Index(['CATEGORIA', 'MODALIDADE', 'DIA DA SEMANA', 'HORÁRIO', 'TURNO',
       'PROFESSOR', '01-10-2024', '02-10-2024', '03-10-2024', '04-10-2024',
       '07-10-2024', '08-10-2024', '09-10-2024', '10-10-2024', '11-10-2024',
       '14-10-2024', '15-10-2024', '16-10-2024', '17-10-2024', '18-10-2024',
       '21-10-2024', '22-10-2024', '23-10-2024', '24-10-2024', '25-10-2024',
       '28-10-2024', '29-10-2024', '30-10-2024', '31-10-2024',
       'Média alunos p/ professor', 'Média', 'Alunos/professor',
       'Ocupação Máxima', 'Professor'],
      dtype='object')

### 5 PASSO: Usar o Loop for para substitituir os valores das frequencia de 'x' e 'X' por zero, com o método do pd.to_numeric)

In [429]:
colunas = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

Fazendo a limpeza profunda, formatando valores para numeros, preenchendo com zeros os nulos e transformando em inteiros

In [430]:
for columns in colunas:
    # dataMES[columns] = pd.to_numeric(dataMES[columns], errors='coerce')
    dataRIOMAR[columns] = pd.to_numeric(dataRIOMAR[columns], errors='coerce').fillna(0).astype(int)

### PASSO 6: MELT derretendo as colunas em formato de datas

o MELT ele pega as colunas que estão na horizontal e cria uma coluna de categorias, e depois ele cria outra coluna com os valores dessas colunas que foram transformadas em dados categóricos

In [431]:
colunas_para_melt = [
'01-10-2024',
'02-10-2024',
'03-10-2024',
'04-10-2024',
'07-10-2024',
'08-10-2024',
'09-10-2024',
'10-10-2024',
'11-10-2024',
'14-10-2024',
'15-10-2024',
'16-10-2024',
'17-10-2024',
'18-10-2024',
'21-10-2024',
'22-10-2024',
'23-10-2024',
'24-10-2024',
'25-10-2024',
'28-10-2024',
'29-10-2024',
'30-10-2024',
'31-10-2024']

#### Indentificando as colunas que Eu quero manter em meu dataframe

In [432]:
# Identifica as colunas que você quer manter como identificadoras (id_vars)
# São as colunas que não serão "unpivoted"
id_vars_cols = [columns for columns in dataRIOMAR.columns if columns not in colunas_para_melt]

In [433]:
dataRIOMAR_melted = pd.melt(dataRIOMAR,
                      id_vars=id_vars_cols, #colunas que Eu deixei, que ficaram.
                      value_vars=colunas_para_melt, #colunas que vão se transformar.
                      var_name='Dias de Aulas', # nome da coluna categorica
                      value_name='Frequencia de Alunos') # nome da coluna de valores

In [434]:
dataRIOMAR_melted.head(2)

,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos
0,ADULTO,GREENBIKE,"ter, qui",06:00,MANHÃ,ALEXIS,9.0,5.111111,NaN,NaN,0.0,01-10-2024,5
1,ADULTO,CROSSFIT,"seg, ter, qua, qui, sex",06:00,MANHÃ,VICTOR,21.0,5.333333,NaN,NaN,0.0,01-10-2024,11

In [435]:
dataRIOMAR_melted['Frequencia de Alunos'].sum()

30839

___

___

# ULTIMOS AJUSTES PARA CONCATENÇÃO E EXPORTAÇÃO

checando, são as todas as colunas e as quantidades das frequencias
- CATEGORIA
- MODALIDADE
- DIA DA SEMANA
- HORÁRIO
- TURNO
- PROFESSOR

1. MESSAJANA [MES]
- Colunas: OK
- Soma das Frequencias: OK

### Concatenação Final

In [436]:
# Suponha que seus DataFrames (dataMES_melted, etc.) já estejam definidos

lista_de_dataframes = [
    dataMES_melted, dataALD_melted, dataFAT_melted, dataBOOT_melted, dataCAMB_melted,
    dataEUS_melted, dataGUA_melted, dataKEN_melted, dataMPE_melted, dataMAR_melted,
    dataSUL_melted, dataRUI_melted, dataPAS_melted, dataPARQ_melted, dataPERS_melted,
    dataJOQ_melted, dataRIOMAR_melted]

In [437]:
nomes_unidades = [
    'MESSEJANA', 'ALDEOTA', 'FATIMA', 'BOOTCAMP', 'CAMBEBA',
    'EUSÉBIO', 'GUARARÁPES', 'KENNEDY', 'MARANGUAPE', 'MARAPONGA',
    'SUL', 'RUI BARBOSA', 'PASSARÉ', 'PARQUELÂNDIA', 'PERSONAL',
    'JÓQUEI', 'RIOMAR'
]

In [438]:
dataframe_concatenado = pd.concat(lista_de_dataframes, keys=nomes_unidades, names=['Unidade'], ignore_index=False)

In [439]:
dataframe_concatenado = dataframe_concatenado.reset_index(level='Unidade')

In [440]:
dataframe_concatenado.head(2)

,Unidade,CATEGORIA,MODALIDADE,DIA DA SEMANA,HORÁRIO,TURNO,PROFESSOR,Média alunos p/ professor,Média,Alunos/professor,Ocupação Máxima,Professor,Dias de Aulas,Frequencia de Alunos,Aulas/mês,Ocupação Máxima0
0,MESSEJANA,QUADRA,BEACH TENNIS - INICIANTE,"seg, qua, sex",05:30,MANHÃ,KELY,13.0,0.923077,NaN,NaN,NaN,01-10-2024,0,NaN,NaN
1,MESSEJANA,QUADRA,BEACH TENNIS - INTERMEDIÁRIO,"ter, qui",05:30,MANHÃ,KELY,11.0,4.636364,NaN,NaN,NaN,01-10-2024,4,NaN,NaN

#### Exportando

In [443]:
dataframe_concatenado.to_excel('mapa_concatenado_limpo_08-04-2025.xlsx', index=False)